.result{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.result h2{

    color:white;

    letter-spacing:1px;

}

.result-box{

    min-height:420px;

    border-radius:10px;

    padding:25px;

    display:flex;

    flex-direction:column;

}

.waiting{

    background:#161b22;

    border:2px solid #30363d;

}

.approved{

    background:#112a18;

    border:2px solid #2ea043;

}

.rejected{

    background:#311515;

    border:2px solid #da3633;

}

.result-box h1{

    font-size:38px;

    color:white;

    margin-bottom:35px;

    text-align:center;

}

.result-grid{

    display:flex;

    flex-direction:column;

    gap:20px;

}

.result-grid p{

    display:flex;

    justify-content:space-between;

    color:#d0d7de;

    border-bottom:1px solid #30363d;

    padding-bottom:8px;

}

.result-grid strong{

    color:white;

}